<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" /> 
</head>
<body>
    <div class="main-container">
        <h1> <%=title%>  </h1>
        <h3>City : <%=output?.name%></h3>
        <h3>Outcome : <%=output?.weather[0]?.main%></h3>
        <h3>Description : <%=output?.weather[0]?.description%></h3>
    </div>
</body>
</html>